In [27]:
from datetime import datetime
from pandas_datareader import data as pdr
import yfinance as yf
from pandas_datareader.data import DataReader
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

# Set up End and Start times for data grab
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']

end = datetime.now()
start = datetime(end.year - 1, end.month, end.day)

for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)


company_list = [AAPL, GOOG, MSFT, AMZN] # 存储全局变量名
company_name = ["APPLE", "GOOGLE", "MICROSOFT", "AMAZON"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name

df = pd.concat(company_list, axis=0)
df.head(10)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2023-10-12,180.070007,182.339996,179.039993,180.710007,179.789993,56743100,APPLE
2023-10-13,181.419998,181.929993,178.139999,178.850006,177.939468,51427100,APPLE
2023-10-16,176.750000,179.080002,176.509995,178.720001,177.810120,52517000,APPLE
2023-10-17,176.649994,178.419998,174.800003,177.149994,176.248108,57549400,APPLE
2023-10-18,175.580002,177.580002,175.110001,175.839996,174.944778,54764400,APPLE
2023-10-19,176.039993,177.839996,175.190002,175.460007,174.566727,59302900,APPLE
2023-10-20,175.309998,175.419998,172.639999,172.880005,171.999878,64189300,APPLE
2023-10-23,170.910004,174.009995,169.929993,173.000000,172.119263,55980100,APPLE
2023-10-24,173.050003,173.669998,171.449997,173.440002,172.557007,43816600,APPLE
2023-10-25,171.880005,173.059998,170.649994,171.100006,170.228943,57157000,APPLE

In [13]:
len(df), len(df)/4

(1008, 252.0)