In [6]:
import pandas as pd
a = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
b = pd.DataFrame({'C': [7, 8, 9], 'D': [10, 11, 12]})

# 删除 dataframe 的 A 列
a.drop('A', axis=1)

   B
0  4
1  5
2  6