In [1]:
import pandas as pd

file_path = './data/Keyword Categorization.xlsx'
sheet_name = 'SG'

df = pd.read_excel(file_path, sheet_name=sheet_name)

                              Keyword             Category
0                           perromart  Pet Food & Supplies
1                     stojo singapore        Home & Living
2                               remax     Mobile & Gadgets
3                  seahorse singapore        Home & Living
4                  bluetooth earpiece     Mobile & Gadgets
...                               ...                  ...
24678                coklat singapore     Food & Beverages
24679                    wooden crate        Home & Living
24680  redmi 12 5g price in singapore     Mobile & Gadgets
24681                       nike pros    Sports & Outdoors
24682                           lg c2      Home Appliances

[24683 rows x 2 columns]

In [2]:
df.columns

Index(['Keyword', 'Category'], dtype='object')